.form-box {
  min-width: 100%;
  /* border: 1px solid red; */
  margin: 0vw;
  padding: 5vw;
  padding-top: 1vw;
  position: relative;
  /* position:relative for .prevBtn and .nextBtn position:absolute; */
}
.form-box h5 {
  font-size: 35px;
  text-align: center;
  color: #f55a00;
  margin: 0 0 0.5vh 0;
}
.form-box .field1 input,
textarea {
  display: block;
  width: 700px;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw auto;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.form-box textarea {
  height: 15vh;
}
